body{
   background-color: hsl(185, 75%, 39%);
}
.card{
  background-color: white;  
  height: 50vh;
  width: 25vw;
  position: relative;
  left:38vw ;
  border-radius:25px ;
}
#victor{
    border-radius: 100%;
    border: solid 6px white;
    position: relative;
    bottom: 7vh;
    left:9vw
}
#capa{
    width: 25vw;
    border-radius: 25px 25px 0 0;
}
.texto{
    position: relative;
    bottom: 10vh;
    left: 7vw;
}
hr{
    position: relative;
    right: 7vw;
}
